* {
  margin: 0;
  box-sizing: border-box;
}

body {
  border: 0;
  margin: 0;
  padding: 0;
  background: rgb(25,25,25);
  background: linear-gradient(146deg, rgb(0, 6, 21) 0%, rgb(0, 0, 0) 100%);
  color: #fff;
}

hr {
  margin-bottom: .5rem;
}

.container{
  box-sizing: border-box;
  padding:  5rem 5rem 5rem 15rem;
}

.label{
  font-weight: 500;
}

.medium {
  font-size: 1.2rem;
}
.large {
  font-size: 1.5rem;
}

.row-nowrap {
  display: flex;
  flex-flow: row nowrap;
}

.containable {
  margin: 0;
  width: fit-content;
}

.right-labeled-icon {
  display: flex;
  margin: 0 1rem;
  align-items: center;
}

.dashboard-header {
  justify-content: space-between;
  margin-bottom: .5rem;
}

.clickable:hover {
  text-shadow: 0 0 5px #30b3ff;
  color: #30b3ff;
}