* {
  margin: 0;
  box-sizing: border-box;
}

body {
  border: 0;
  margin: 0;
  padding: 0;
  background: rgb(25,25,25);
  background: linear-gradient(146deg, rgb(0, 0, 0) 0%, rgb(43, 42, 42) 100%);
  color: #fff;
}

.container{
  box-sizing: border-box;
  padding:  5rem 5rem 5rem 15rem;
}