.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  border: 0;
  margin: 0;
  padding: 0;
  background: rgb(25,25,25);
  background: linear-gradient(146deg, rgba(25,25,25,1) 0%, rgba(60,60,60,1) 100%);
  color: #fff;  
}

.nav {
  position: absolute;
  left: 0;
  height: 100vh;
  width: 10rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: rgba(78, 118, 192, 0.267);
}

.nav-brand{
  width: 100%;
  height: 30%;
  text-align: center;
  align-self: flex-start;
  margin: auto;
}

.nav-menu {
  height: 70%;
  width: 100%;
}

.nav-items {
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  height: 100%;
}

.nav-items li {
  text-align: center;
  width: 100%;
}